## 9.5 Função merge e função concat

Acesse: https://pandas.pydata.org/docs/user_guide/merging.html

De forma resumida, a função concat nos auxilia em combinar, concatenar os DataFrames. A função merge nos ajuda a fundir os DataFrames, tendo uma funcionalidade parecida com o procv do Excel.

- pandas.concat(objs: Union[Iterable[FrameOrSeries], Mapping[Label, FrameOrSeries]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True')

In [7]:
import pandas as pd
import numpy as np

dfa = pd.DataFrame(np.arange(15).reshape(5,3))
dfb = pd.DataFrame((np.arange(9)**2).reshape(3,3))
print(dfa)
print(dfb)

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
    0   1   2
0   0   1   4
1   9  16  25
2  36  49  64

In [10]:
dfc = pd.concat([dfa,dfb])
print(dfc)

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
0   0   1   4
1   9  16  25
2  36  49  64

In [9]:
dfc = pd.concat([dfa,dfb],ignore_index=True)
print(dfc)

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5   0   1   4
6   9  16  25
7  36  49  64

- pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False,validate=None)

In [19]:
df1 = pd.DataFrame({'id':[1,2,3],'cor':['branco','preto','verde']})
df2 = pd.DataFrame({'times':['time1','time2','time3','time4','time5',],'id':[1,1,2,3,2]})
pd.merge(df1,df2)

   id     cor  times
0   1  branco  time1
1   1  branco  time2
2   2   preto  time3
3   2   preto  time5
4   3   verde  time4

In [21]:
df1 = pd.DataFrame({'id':[1,2,3],'cor':['branco','preto','verde']})
df2 = pd.DataFrame({'times':['time1','time2','time3','time4','time5',],'id_cor':[1,1,2,3,2]})
pd.merge(df1,df2,left_on='id',right_on='id_cor')

   id     cor  times  id_cor
0   1  branco  time1       1
1   1  branco  time2       1
2   2   preto  time3       2
3   2   preto  time5       2
4   3   verde  time4       3