## 9.2 Funcionalidades básicas

Acesse: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


#### Algumas propriedades de DataFrames

shape, size, dtypes, columns, index (retorna linhas), values (retorna array)


#### Alguns métodos para DataFrames


| Métodos aplicados ao DataFrame | Descrição |
| :-- | :-- |
| .head(*optativo*) | para ver primeiras linhas |
| .tail(*optativo*) | para ver últimas linhas |
| .to_csv(*path/name*) |  exporta o DF para um arquivo csv (esse método existe para vários outros formatos) |
| .min(axis), .max(axis), .cumsum(),mean() | similar as discutidas na seção de Numpy |
| .value_counts() | Este método faz uma contagem de aparições de determinado valor (aplicar para Series) |
| .sort_values(by=column) | Ordena valores. |

In [61]:
import pandas as pd

lista_a = ['a','a','b','c','a','d','c']
lista_b = list(range(7))

dic = {'letras':lista_a,'numeros':lista_b}

df = pd.DataFrame(dic)

In [62]:
print(df.shape)

(7, 2)

In [63]:
print(df.size)

14

In [64]:
print(df.ndim)

2

In [65]:
print(df.dtypes)

letras     object
numeros     int64
dtype: object

In [66]:
print(df.columns) ##type(df.columns) = pandas.core.indexes.base.Index

list(df.columns)

Index(['letras', 'numeros'], dtype='object')

['letras', 'numeros']

In [67]:
print(df.index)

list(df.index)

RangeIndex(start=0, stop=7, step=1)

[0, 1, 2, 3, 4, 5, 6]

In [68]:
print(df.values) ##type(df.values) = numpy.ndarray

df.values.shape

[['a' 0]
 ['a' 1]
 ['b' 2]
 ['c' 3]
 ['a' 4]
 ['d' 5]
 ['c' 6]]

(7, 2)

In [69]:
print(df.min())

letras     a
numeros    0
dtype: object

In [70]:
print(df.max())

letras     d
numeros    6
dtype: object

In [71]:
print(df.cumsum())

    letras  numeros
0        a        0
1       aa        1
2      aab        3
3     aabc        6
4    aabca       10
5   aabcad       15
6  aabcadc       21

In [72]:
print(df.cumsum()['letras'])

0          a
1         aa
2        aab
3       aabc
4      aabca
5     aabcad
6    aabcadc
Name: letras, dtype: object

In [73]:
print(df['letras'].value_counts())

letras
a    3
c    2
b    1
d    1
Name: count, dtype: int64

In [74]:
print(df.sort_values(by='letras'))

  letras  numeros
0      a        0
1      a        1
4      a        4
2      b        2
3      c        3
6      c        6
5      d        5

In [75]:
import numpy as np

df2 = pd.DataFrame({'col1':np.arange(100)**2,'col2':np.arange(100)*5})

df2.head(10)

   col1  col2
0     0     0
1     1     5
2     4    10
3     9    15
4    16    20
5    25    25
6    36    30
7    49    35
8    64    40
9    81    45

In [76]:
df2.tail(10)

    col1  col2
90  8100   450
91  8281   455
92  8464   460
93  8649   465
94  8836   470
95  9025   475
96  9216   480
97  9409   485
98  9604   490
99  9801   495