## 9.11 Multi índices (ex. com pyNastran)

Objetos multi índices:

MultiIndex.from_tuples(tuples, sortorder=None, names=None)

MultiIndex.from_arrays(arrays, sortorder=None, names=<object object>)
    
MultiIndex.from_frame(df, sortorder=None, names=None)

In [3]:
import numpy as np
import pandas as pd

a_arr = np.arange(20).reshape(5,4)
a_arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [5]:
a_df = pd.DataFrame(a_arr)
a_df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [8]:
list(a_df.index)

[0, 1, 2, 3, 4]

In [17]:
a_tuples = [('A',0),('A',1),('B',2),('B',3),('B',4)]
a_tuples

a_index = pd.MultiIndex.from_tuples(a_tuples,names=['first','second'])
a_index ##type(a_index) = pandas.core.indexes.multi.MultiIndex

MultiIndex([('A', 0),
            ('A', 1),
            ('B', 2),
            ('B', 3),
            ('B', 4)],
           names=['first', 'second'])

In [18]:
a2_df = pd.DataFrame(a_arr,index=a_index)
a2_df

               0   1   2   3
first second
A     0        0   1   2   3
      1        4   5   6   7
B     2        8   9  10  11
      3       12  13  14  15
      4       16  17  18  19